$primary-color: #0067b8;
$dark-color: #272727;
$light-color: #f4f4f4;

@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return $dark-color;
    } @else {
        @return $light-color;
    }
}

@mixin set-bg($color) {
    background: $color;
    color: set-text-color($color);
}
