* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.6;
    font-size: 0.9375rem;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $dark-color;
}
